/* intuitivnější box-sizing pro všechny prvky na stránce */
html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }



body {
    background-color: #FAFAFA;
}
p {
    font-family: "Montserrat", sans-serif;
    color: #8B8B8B;
    text-align: center;
}

.turista {
    min-width: 350px;
    min-height: 290px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.hlavni-nadpis {
    font-size: 28px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    margin-top: 40px;
    margin-bottom: 40px;
}


h1 {
    text-align: center;
    position: relative;
    margin-top: 60px;
}

 /*.hlavni-nadpis::after {
    content: "";
    display: block;
    width: 60px;
    height: 2px;
   background-color: #407BFF;
   margin-top: 10px;}*/

   h1::after {
    content: "";
    position: absolute;
    bottom: -10px;             /* Umístí čáru pod nadpis */
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 2px;
    background-color: #407BFF;
}


h2 {
    font-size: 16px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
}
h1,
h2 {
    text-align: center;
    margin-top: 60px;
}
.text-pod-nadpisy {
    font-size: 16px;
}
.text-u-ikon {
    font-size: 13px;
}
button {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: white;
    border: 0;
}
.tlacitka {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.dobrodruzstvi {
    width: 195px;
    height: 40px;
    border-radius: 20px;
    margin-bottom: 10px;
    margin-top: 40px;
    background-color: #407BFF;
}
.plaz {
    width: 220px;
    height: 40px;
    border-radius: 20px;
    background-color: #8B8B8B;
}
.boxik {
    display: flex;
    justify-content: flex-start;
    width: 460px;
    height: 80px;
    background-color: white;
    border-radius: 10px;
    margin: 15px;
    box-shadow: 0px 4px 6px #407BFF1F;
}
.text-u-ikon {
    margin-left: 30px;
    margin-top: 32px;
}
.ikona {
    max-width: 45px;
    max-height: 40px;
    margin: 20px;
}

@media screen and (min-width: 640px) {
    .tlacitka {
        flex-direction: row;
        align-items: baseline;
    }
    .plaz {
        margin-left: 20px;
    }
    .sluzby1,
    .sluzby2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .text-pod-nadpisy {
        width: 550px;
        height: 55px;
        margin-left: 0;
        margin-right: 0;
        flex: 1 1 100%;
        text-align: center;
       

    }
    .boxiky1,
    .boxiky2 {
        display: flex;
        flex-wrap: wrap;

    }
    .boxik {
        flex: 1 0 calc(100% - 30 / 3);
        width: 230px;
        height: 172px;
        flex-direction: column;
        align-items: center;
        box-shadow: 0px 4px 6px #407BFF1F;
    }
    .text-u-ikon {
        margin: 0;
        padding: 20px;
    }
    .ikona {
        margin-bottom: 0;
    }
}

@media screen and (min-width: 1100px) {
    body {
        max-width: 1040px;
       margin-left: auto;
       margin-right: auto;
    }
    h2 {
        text-align: start;
    }
    .kontejner {
        display: flex;
        flex-direction:row-reverse;
        justify-content: space-between;
    }
    .leva {
        display: flex;
        flex-direction: column;
        width: 488px;
        
        
    }
    .prava {
        display: flex;
        justify-content: center;
    }
    h1 {
        text-align:left;
        position: relative;
        margin-top: 60px;
    }
    h1::after {
        content: "";
        position: absolute;
        bottom: -10px;
        left: 0;
        width: 60px;
        height: 2px;
        background-color: #407BFF;
    }
   
    .text-pod-nadpisy {
        text-align: left;
        max-width: 430px;
        max-height: 76px;
        
    }
    .tlacitka {
        justify-content: left;
    }
    .sluzby1 {
        display: flex;
        flex-direction:row-reverse;
        justify-content: space-between;
        margin-top: 80px;

    }
    .sluzby2 {
        display: flex;
        margin-top: 80px;
        justify-content: space-between;
        flex-wrap: nowrap;
        
    }
    
     .nadpis-a-text {
            display: flex;
            flex-direction: column;
            max-width: 430px;
            justify-content: flex-end;
    
        }
     .boxiky1 {
            display: flex;
            max-width: 550px;
            flex-wrap: nowrap;
         }

         .boxiky2 {
            display: flex;
            max-width: 550px;
            flex-direction: row-reverse;
            justify-content: space-between;
            flex-wrap: nowrap;
         }
    
     .boxik {
            width: 170px;
            flex: 1 0 calc(100% - 40 / 3);
            height: 191px;
            box-shadow: 0px 4px 6px #407BFF1F;
            justify-content: center;
            margin-left: 0;
            margin-right: 20px;
        }
    .nadpis-a-text2 {
            display: flex;
            flex-direction: column;
            max-width: 430px;
            max-height: 76px;
            justify-content: flex-start;
            margin-right: 75px;
    
        
    
    }
}
   


